<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale:1.0,maximum-scale:1.0,user-scalable=0">
	<meta name="apple-mobile-web-app-capble" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>Baidu News</title>
	<link href="/stylesheets/swiper-3.4.2.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		
</head>
<body>
	<!--导航区域-->
	<div class="jtb-nav">
		<!-- header -->
	    <div class="nav clearFix">
	        <a href="javascript:;" class="bd-website fl"></a> 
	        <a href="javascript:;" class="bd-user fl"></a>
	        <h3>百度新闻</h3>
	        <a href="javascript:;" class="bd-right-btn fr"></a> 
	        <a href="javascript:;" class="bd-search fr"></a> 
	         
	    </div> 
	    <!-- 分类 -->
	    <div class="swiper-container">
	    	<div class="swiper-wrapper bd-news-tags">
	        	<div class="swiper-slide"><a href="javascript:;">推荐</a></div>
	        	<div class="swiper-slide"><a href="javascript:;">百家</a></div>
	        	<div class="swiper-slide"><a href="javascript:;">科技</a></div>
	        	<div class="swiper-slide"><a href="javascript:;">图片</a></div>
	        	<div class="swiper-slide"><a href="javascript:;">娱乐</a></div>
	        </div>
	    </div>                                  
	</div>
	<!--导航区域 end-->

	<!--轮播区域-->
	<div class="jtb-banner clearFix">
	    <div class="banner">
	        <ul class="imglist clearFix">
	        	<li><a href="javascript:;"><img src="/images/timg.jpeg" alt="海报" /></a></li>
	        	<li><a href="javascript:;"><img src="/images/timg1.jpeg" alt="海报" /></a></li>
	        	<li><a href="javascript:;"><img src="" alt="海报" /></a></li>
	        	<li><a href="javascript:;"><img src="" alt="海报" /></a></li>
	        </ul>
	        <div class="btnlist clearFix">
	            <span class="btn on"></span>
	            <span class="btn"></span>
	            <span class="btn"></span>
	            <span class="btn"></span>
	        </div>
	    </div>
	</div>
	<!--轮播区域 end-->

	<!-- 通知区域 -->
	<div class="jtb-goodsdetail-poster">
		<div class="poster-t clearFix">
			<a href="javascript:;">
				<span>热点</span>
				<p>莫斯科亲密的朋友来相会</p>
			</a>
		</div>
		<hr/>
	</div>

	<!-- 通知区域 end -->

	<!-- 列表 -->
	<div class="jtb-treasureType-list">
		<ul>
			<!-- <li>
				<div class="bd-newslist-img">
					<img src="/images/president.jpg" alt="图片" />
				</div>
				<div class="bd-newslist-content">
					<h3>title</h3>
					<p>date</p>
					<i class="fr"></i>
				</div>
			</li> -->
			
		</ul>
	</div>
	<!-- 列表 end -->

	<!-- XXX -->
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="/javascripts/swiper-3.4.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>

</body>
</html>